html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header {
    display: flex;
    /* justify-content是水平布局 */
    justify-content: space-between;
    /* 垂直布局align-item */
    align-items: center;
}

#form-add,
#form-edit {
    padding-top: 30px;
    padding-right: 30px;
}